@{
    ViewData["Title"] = "Exact Sales";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos Ao Teste Técnico</h1>
    <h3>O Valor para a chave EXACT é:</h3>


    <h1>@ViewBag.command9Result</h1>
    </div>
